
.container_1 {
      margin-top: 5px;
	  position:relative;
      width:100%;
      height: 100px;
      background-color: #0A0968;
    }
 
.heading_1 {
	  
	  position:relative;
	  margin-top:-60px;
	  margin-left:40%;
      font-weight: bold;
      color: white;
}

.logo {
	
	  position: relative;
	  padding-top:20px;
}

.container_box {
	
	  position: fixed;
	  margin-left: 16%;
}

.box_1 {
	
	position:relative;
	margin-left: 150px;
	margin-top: 50px;
	
}

.box_2 {
	
	position:relative;
	margin-left: 380px;
	margin-top: -200px;
	
}

.box_3 {
	
	position:relative;
	margin-left: 610px;
	margin-top: -202px;
	
}

.si_sheet {
	
	position: relative;
	margin-left: 188px;
	margin-top: -44px;
}

.lp_sheet {
	
	position: relative;
	margin-left: 610px;
	margin-top: 227px;
}

.print_sheet {
	
	position: relative;
	margin-left: 260px;
	margin-top:  -30px;
}

.container_2 {
	
	  margin-top: 26%;
	  position:relative;
      width:100%;
      height: 50px;
      background-color: #cccccc;
	
	
}

.container_3 {
    
      margin-top: 16%;
      position:relative;
      width:100%;
      height: 50px;
      background-color: #cccccc;
    
    
}

.copyrigth {
	
	   position:absolute;
	   margin-top: 8px;
	   margin-left: 500px;
	   color: #0A0968;
	   font-size: 10px;
}
 

table {
    border: 1px solid;
    border-color: #CCCCCC;
    width:40%;
    
}
table tr {
    border: 1px solid black;
    
}
table th {
    border: none;
}

input {
    
      border-color: #CCCCCC;
}

select {
    
      border-color: #cccccc;
}

table caption {
    
       font-size: 18px;
}

.gensheet {
    
    margin-top: 50px;
    margin-left: 15px;
}

.genrep {
    
    position: relative;
    margin-top: -185px;
    margin-left: 430px;
}

.reptable {
    
    position: relative;
    margin-top: -165px;
    margin-left: 750px;
    
}

.reptableone{
    
    position: absolute;
    margin-top: -518px;
    margin-left: 548px;
}
.reptabletwo{
    
    position: absolute;
    margin-top: -340px;
    margin-left: 558px;
    
}
