@CHARSET "UTF-8";
body
	{
	
	style="background-color:#fff; font-family:Verdana, sans-serif; font-size:11px;"
	
	}
	
.textInput {

		border: 1px solid #123B5F;
		color:#123B5F;
}

.textInput_1 {

		border: 1px solid #123B5F;
		color:#000000;
}

.bannerslang {
	
	    position: absolute;
	    margin-top: 60px;
	    margin-left:350px;
	  
	
}



.textInputEdited {
        
         border: 1px solid #C0F218;
		 color:#F60808;
		 background-color:#C0F218;
         font: bold 12px Verdana;

}

#textInput {

		border: 1px solid #123B5F;
		color:#123B5F;
}

.teareaspec{

		border: 1px solid #123B5F;
		color:#123B5F;
		resize:vertical;
		max-height:400px; 
		min-height:200px;
		resize:horizontal;
		max-width:400px; 
		min-width:200px;


}
	
.heading {
	font-size: 24px;
	color:#10406B;
	font-weight: 800;
}
.sub_top_haed
	{
		color: #959595;
	font-size: 18px;
	font-weight: 0;
		
	}
#heading1 {
	position: absolute;
	margin-top: -20px;
	margin-left: 350px;
}

#logo {
	position: absolute;
	margin-top: -10px;
	margin-left: 20px;
}

#formtable {
	margin-top: 40px;
}

.fieldS {
	color: blue;
}

.fieldS1 {
	color: red;
}

.tabdeluseredit{
                  border:thin;
                  font:Verdana,Arial,Helvetica,sans-serif;
                  font-size:12px;
                  width:300px

               }
               
.tabdeluseredit_1{
                  border:none;
                  font:Verdana,Arial,Helvetica,sans-serif;
                  font-size:12px;
                  width:1000px

               }

.tabdeluser{ 
	          border:thin;
	          font:Verdana,Arial,Helvetica,sans-serif;
	          font-size:12px;
	          width:1000px;
	          position:absolute;
	          margin-top:50px;


             }
             
.tectable{
	
	
	         position:absolute;
			 margin-top:50px;
	         margin-left:500px;
	
	
}
             
.tabdeluser1{ 
	          border:thin;
	          font:Verdana,Arial,Helvetica,sans-serif;
	          font-size:12px;
	          width:600px;


             }
             
.tableuserprivi {
                  border:thin;
                  font:Verdana,Arial,Helvetica,sans-serif;
                  width:300px;
                  font-size:12px;


             }
             
.tabdem{
                  border:thin;
                  font:Verdana,Arial,Helvetica,sans-serif;
                  font-size:12px;
                  width:1000px



}

.itemdestable{
				border: 1px solid #1717AE;
				background-color:#040443;
                color:white;
				color:#ffffff;
				width:500px;


}


.imagetable {
                position:relative;
				margin-top:-600px;
				margin-left:510px;
}

.imagetableminmax {

                position:absolute;
				margin-top:50px;
				margin-left:665px;


}

#restricttable {
				position:absolute;
				margin-top:50px;
				margin-left:1px;

}

.maximum {

				position:absolute;
				margin-top:85px;
				margin-left:900px;

}

.minimum {
			    position:absolute;
				margin-top:150px;
				margin-left:900px;
				

}
             
#linkverify {
               margin-top:500px;
               position:absolute;
             }
             
input.btn1 {
              color:#050;
              font:bold 84% 'trebuchet ms',helvetica,sans-serif;
              background-color:#fed;
              border: 1px solid;
              border-color: #696 #363 #363 #696;
              filter:progid:DXImageTransform.Microsoft.Gradient
                  (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
         }
         
input.btnhov {
                  border-color: #c63 #930 #930 #c63;

          }
          
.messtable{
            margin-top:150px;
            margin-left:400px;

}

.messtablestruts{
	
	         margin-top:150px;
             margin-left:400px;
	
}

.button1 {
  background-color: #888888;
  border: 4px #888888 outset;
  padding: 1px 4px; /* top, bottom: 1px, left, right: 4px */
  color: #ffffff;
  text-decoration: none;
  font: bold 12px Verdana;
  width:200px;
  height:30px;  
}

.buttonset {

			border: 1px solid #123B5F;
		    color:#123B5F;

}

.button2 {
  background-color: #3BB9FF;
  border:none;
  font-size:16px;
  color: red;
  width:203px;
  height:38px;  
}

.buttonedit {
  width:100px;
  height:30px;  

}


.button3 {
  background-color: #f98989;
  border:none;
  font-size:16px;
  color: red;
  width:100px;
  height:30px;  
}

.buttoncme {
  background-color: #f98989;
  border:none;
  font-size:16px;
  color: #000000;
  width:300px;
  height:40px;  
}

.button4 {
    
      background-color: #f98989;
  border:none;
  font-size:16px;
  color: red;
  width:100px;
  height:30px;  

  }
  
  .button{
  
  }
  
  .buttondescript{
  		background:url('Images/2arrow4.gif');
        border:none;
        color:#1CE8F3;
        font:none;
        width:32px;
        height:30px;  
  
  
  }

.toggle_container{
		margin: 0 0 0px;
		padding: 0;
		
		width:500px;
		clear:both;
		

}

.active{
		background-position: left bottom;
}



.resizable {
                display:block;
                margin-bottom:0pt;
                width:50%;
                height: 30%;
                border: 1px solid #123B5F;
		        color:#123B5F;
            }
            
.locoregistration {
				font-size:18px;
				color:#000000;
				font-weight:bold;
	
	
}

.tab1{
	
		width:900px;
		background:#d0ddfc;
		border:4px solid;
		border-color:#5788c4;
		border-spacing:2px;
		border-collapse:collapse;
}

.tr1 {
	
		border:2px solid;
		border-color:#5788c4;
	
}


.td1{
	
	    border:2px solid;
		border-color:#5788c4;
	
	
}

.setform {
	
		margin-top:100px;
		margin-left:200px;
}
  
.tablefrm {
	
		font:12px verdana, arial, helvetica, sans-serif;
		border-width: 2px;
		border-color:#030;
		border-style:solid;
		color:#242;
		background-color: #ada;
		width:80%;
		margin-left:35%;
		margin-right:35%;
		margin-top:15%;
}

.tablefrm th{}

.tablefrn tr td {
	
		background-color:#dfd;
		margin: 5px;
		padding: 5px;
}

.tdLabel {
	
		font-weight: bold;
		align: top;
		
}

.label {} */

 .errorMessage {
	
		color:red;
		font-size: 12px;
}
 
 #hederDiv {
	
		border-style: solid;
		border-width: 1px 1px 0px;
		border-color: black;
		padding: 5px;
		background-color: #7a7;
		beight: 1.8cm;
}

#buttonBar {
	
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: black;
		color:white;
		margin-bottom: 12px;
		background-color:#7a7;
		height:1.6cm;
		padding: 5px;
		
}

#appName {
	
		color:white;
		font-size: 1.8cm;
		
}

#pageTitle {
	
		font-size: 1.4cm;
		color:#dfd;
		clear:none;
}

#appName, #pageTitle {
	
		float:right;
		
}

#menuContainer {
	
		float:left;
}

#brandingContainer {
	
		float:right;
		text-align:right;
}

#map_canvas {
     
     position:relative;
     height:550px;
     width:500px;
}

#results {
    position:relative;    
	margin-top:-450px;
	margin-left:505px;

}

 
