@CHARSET "UTF-8";
body {
			font: 10pt Arial, Helvetica, Sans-serif;
			background:#00004F;
			color:#ffffff;
		}
		a {
			text-decoration: none;
		}
		#example1,
		#example2,
		#example3,
		#example4,
		#example5 {
			float: left;
		}
		.expand_all,
		.collapse_all {
			cursor: pointer;
		}
		.example_menu {
			font-size: 90%;
			list-style: none;
			margin: 0;
			padding: 0;
			vertical-align: top;
			width: 270px;
		}
		.example_menu ul {
			display: none;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		#menu1,
		#menu2,
		#menu3,
		#menu4,
		#menu5 {
			margin: 0;
		}
		#menu1 li,
		#menu2 li,
		#menu3 li,
		#menu4 li,
		#menu5 li,
		.example_menu li {
			background-image: none;
			margin: 0;
			padding: 0;
		}
		.example_menu ul ul {
			display: block;
		}
		.example_menu ul ul li a {
			padding-left: 20px;
			width: 240px;
		}
		.example_menu a {
			color: #000;
			cursor: pointer;
			display: block;
			font-weight: bold;
			margin-left: 0;
			padding: 2px 2px 2px 17px;
			width: 243px;
		}
		.example_menu a.expanded {
			background: #bbb url('../Images/collapse.gif') no-repeat 3px 50%;
		}
		.example_menu a.collapsed {
			background: #bbb url('../Images/expand.gif') no-repeat 3px 50%;
		}
		.example_menu a:hover {
			text-decoration: none;
		}
		.example_menu ul a {
			background: #e8e8e8;
			border-top: 2px solid #fff;
			color: #000;
			display: block;
			font-weight: normal;
			padding: 2px 2px 2px 10px;
			width: 250px;
		}
		.example_menu ul a:link {
			font-weight: normal;
		}
		.example_menu ul a:hover {
			background : #f5f5f5;
			text-decoration: underline;
		}
		.example_menu li.active a {
			background: #fff;
		}
		.example_menu li.active li a {
			background: #e8e8e8;
		}
		#menu1 li.footer,
		#menu2 li.footer,
		/* #menu3 li.footer,
		#menu4 li.footer,
		#menu5 li.footer, */
		.example_menu .footer {
			background: transparent url('../Images/footer.jpg') no-repeat 0 0;
			border-top: 1px solid #000;
			height: 0px;
			line-height: 10px;
			margin: 0 0 10px 0;
			width: 240px;
		}
		.example_menu .footer span {
			display: none;
		}
